.main-header {
color: #cccccc;
/* background image will be changed by scroll*/
background-attachment: scroll;
height: 150px;
width: 100%;
position:absolute;
}

* {
  margin: 0;
  padding:  0;
}
html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  margin: 0;
  width: 100%
  height: 100%;
}

footer{
  width: 100%;
  height: 100px;
  position:absolute;
  bottom:0px;
  left:0px;
  background: #333;
}

.background-img {
background: url(/my_github_rep/image/timg.jpeg) no-repeat center center;
background-size: 100% 100%;
}

h1, h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB","Times New Roman", Times, serif;
  font-size:30px;
  text-align: center;
  color: #404040;
}

.main-header div > h3 {
  font-size:15px;
  text-align: center;
  color: green;
}

.container {
  padding-right: 0;
  padding-left: 0;
  height: auto;
  height: 100%;
  margin-top: auto;
  margin-right: auto;
  margin-letf: auto;
  top: 150px;
  bottom: 100px;
  overflow: hidden;
  position: absolute;
  position: relative;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 1200px) {
  .post-container,
  .sidebar {
    padding-right: 5%;
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  .post-container {
    padding-right: 5%;
    padding-left: 15px;
  }
}

.sidebar {
  float:left;
  background: gray;
  width：30%;
  height: 100%;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.right {
  overflow: hidden;
  height: 100%;
  padding-bottom: 100%;
  margin-bottom: -100%;
}

.right-layout .left-layout {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15x;
}

.sidebar > p {
   padding-left: 15x;
}
.layout-offset-1 {
    margin-left: 8.33333333%;
}

.col-lg-offset-2 {
    margin-left: 16.66666667%;
}

.layout-offset-0 {
  margin-left: 0;
}

.footer-layout {
 
  width: auto;
}

aside {
  display: block;
}
.center-text {
  text-align: center;
}

.post-text {
  font-size: 15px; 
}
