<head>
    <meta http-equiv="Content-Type" content="text/html;charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="honeytrry">
    <!--- force page indepent to avoid being refered as frame page --->
    <meta http-equiv="windows-Target" contect="_top">
    <!--- support mobile device --->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{% if page.title %} {{ page.title }} {% else %} {{  site.title }} {% endif %}</title>
    <link rel="stylesheet" href="/css/honeytrry.css">

</head>
