---
layout: default
---

<!-- page header -->
<header class="main-header" style="background-image: url('{{site.baseurl}}/{%if page.header-img%}{{page.header-img}}{% else %}{{ site.header-img}}{% endif %}')">
    <div>
         <h1> {% if page.title %} {{ page.title}} {% else %} {{ site.title }} {% endif %} </h1>
         <h3> {{ page.description }} </h3>
    </div>
    <div>
         <p> this is test </p>
    </div>
</header>
<div class="content">
      {{ content }}
</div>
<footer>
    <div class="container">
        <p class="center-text">created by honeytrry</a></p>
    </div>
</footer>
